<?xml version="1.0" encoding="UTF-8"?>
<! DOCTYPE html PUBLIC "-//w3c/DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml-Strict.dtd">
<html xmlns="http://www.x3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title></title>
</head>

<body>
<h1>regist</h1>
<form method="post" enctype="multipart/form-data">
	username:<input type="text" name="username" /><br />
	password:<input type="password" name="password" /><br />
	<input type="submit" value="regist" />
</form>
</body>
</html>
